body {
    font-family: "Helvetica";
    font-size: 16px;
    color: #A6ADB4;
    font-weight: 400;
    background-color: #F6F8F9;
}
.container_news {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 140px; 
}
.forFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex {
    display: flex;
}

/* ფონტის დამატება არ დამავიწყდეს */


/* ===============  Header =============== */


header {
    padding: 10px 20px;
    max-width: 1440px;
    margin: 0 auto; 
}
.header_menu {
    display: flex;
}
.header_menu a {
    font-size: 11px;
    line-height: 20px;
    color: #343638;
    opacity: 50%;
    text-transform: uppercase;
}
li .active {
    opacity: 1;
}

.menu-list-item{
    position: relative;
    margin-left: 22px;
    font-weight: bold; 
    /*ფონტებს დავამეტებ */
}
.logo{
    font-family: "Helvetica";
    font-size: 13px;
    font-weight: bold;
    color: #FA6980;
    text-transform: uppercase;
}
.user {
    margin-left: 45px;
}
.user img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    clip-path: circle(50% at 50% 50%);
    cursor: pointer;
}
.burger_menu{
    display:none;
}

/*    World news    */


.world_news .world_news_text {
    max-width: 840px;
    padding: 175px 135px;
    background-image: url("../assets/Image.jpg");
    background-position: center;
    background-size: cover; 
}
.world_news_text h2 {
    font-family: "Helvetica";
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 42px;
    padding-bottom: 40px;
    border-bottom: solid 2px #FFFFFF;
}
.world_news_text article {
    padding-top: 40px;
}
.world_news_text article h4 {
    font-family: "Helvetica";
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 34px;
}
.world_news_text article p {
    font-family: "Helvetica";
    font-weight: regular;
    color: #FFFFFF;
    margin: 11px 0 32px;
    line-height: 26px;
}
.world_news_text article button {
    font-family: "Helvetica";
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FA6980;
    border-radius: 6px;
    border-style: none;
    text-transform: uppercase;
    padding: 15px 34px;
}
.world_news_text article button:hover {
    opacity: 70%;
}
.info_news{
    max-width: 400px;
    margin: 100px auto;
}
.news_text {
    padding-bottom: 40px;
    border-bottom: solid 3px #EBEDED; 
}
.news_text h2 {
    font-family: "Helvetica";
    font-size: 24px;
    font-weight: bold;
    color: #202124;
}
.arrows button {
    height: 10px;
    border: none;
}
.right_arrow{
    transform: rotate(180deg);
    padding-right: 20px;
    cursor: pointer;
}
.back_arrow {
    opacity: 50%;
    cursor: pointer;
}
.news_title {
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: bold;
    color: #FA6980;
    text-transform: uppercase;
}
.article_title {
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: bold;
    color: #202124;
}
.article_par{
    font-family: "acumin-pro";
    font-size: 16px;
    font-weight: regular;
    color: #A6ADB4;
    max-width: 380px;
    line-height: 26px;
    white-space:nowrap;
    overflow:hidden;
}
.time p {
    font-family: "acumin-pro";
    font-size: 13px;
    font-weight: regular;
    color: #A6ADB4; 
    padding-left: 10px;
}
.time {
    margin-top: 10px;
}

/*      TRENDING      */

.trending_title h2 {
    font-family: "Helvetica";
    font-size: 24px;
    font-weight: bold;
    color: #202124;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.trending_div{
    max-width: 360px;
    border-radius: 6px;
    background-color: #FFFFFF;
    display: flex;
    gap: 40px;
}
.trending_text h4 {
    font-family: Helvetica;
    font-weight: bold;
    line-height: 20px;
    color: #202124;
    margin: 40px 0 10px 0;
}
.trending_text p {
    width: 280px;
    font-family: Acumin Pro;
    /* დავამატო ეს ფონტი */
    font-size: 13px;
    color: #A6ADB4;
    line-height: 23px;
    white-space:nowrap;
    overflow:hidden;
}
.trending_text {
    margin-left: 40px;
}


/*      happening section       */

.happening_title {
    font-family: "Helvetica";
    font-size: 24px;
    font-weight: bold;
    color: #202124;
    text-transform: uppercase;
    margin: 80px 0 40px 0;
}

.large_travel {
    width: 760px;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 40px 0 40px 40px;
    background-color: transparent;
    border-radius: 6px; 
}

.large_div .city{
    background-image: url(../assets/city-largimg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.large_div .travel {
    background-image: url(../assets/travel-largeimg.png);
    background-position: center;
    background-repeat: no-repeat;
}
.large_div h3 {
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 235px;
    text-transform: uppercase;
}
.large_text h4 a {
    display: inline-block;
    font-family: "Helvetica";
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}
.larg_text_par p {
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: regular;
    color: #FFFFFF;
    margin: 10px 0 30px;
    overflow: hidden;
}
.small_div img {
    margin-bottom: 25px;
}
.small_div h4 a {
    font-size: 16px;
    color:#202124 ;
    font-weight: bold;
}
.time a {
    color: #A6ADB4;
    text-decoration:underline;
}

/*     footer_section      */
footer {
    background-color: #A6ADB4;

}
.footer_section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 54px 140px; 
}
.footer_nav .logo {
    font-family: "Helvetica";
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-right: 55px;
    line-height: 20px;
}
.footer_ul {
    display: flex;
    flex-wrap: wrap;
    width: 378px;
}
.footer_nav_li {
    margin-right: 60px;
    margin-bottom: 10px;
    width: 35px;
}
.footer_nav_li a {
    font-family: "Helvetica";
    font-size: 13px;
    font-weight: bold;
    color: #CBD0D3; 
}
.input-icon{
    display: flex;
    border-radius: 6px;
    border: solid 2px #ffffff1a;
    cursor: pointer;
    margin: 0 140px 15px 100px;
}
.input-icon input {
    background-color: transparent;
    border: transparent;
    padding: 15px 20px;
    width: 230px;
}
.send-button{
    background-color: transparent;
    border-color: transparent; 
    cursor: pointer;
}
.email p {
    margin-left: 100px;
    font-family: "Helvetica";
    font-size: 11px;
    color: #CBD0D3;
}
.social_li {
    margin-left: 30px; 
}